.topnav { background-color: #333; overflow: hidden; }
.topnav a.logo { float: left; }
.topnav a.logo img { height: 50px; }
.topnav-right { float: right; }
.topnav-right a.button { background-color: #4CAF50; border: none; color: white; padding: 14px 28px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; }
.topnav-right a.button:hover { background-color: #3e8e41; }
